{{template "header" .}}
<h1>Kontakt</h1>
<p>
    Yang Tai Chi Schule Hamburg<br>
    Stephan Hagen<br>
    Von-Essen-Straße 56<br>
    D-22081 Hamburg<br>
    Tel.: +49 (0)40 / 551 35 86 oder +49 (0)40 / 695 14 41<br>
    E-Mail: info[at]yang-taichi.com<br>
    Whatsapp: 49406951441<br>
</p>
<p>
    Telefonische Sprechzeiten:<br>
    Montag bis Donnerstag von 10:00-12:00 Uhr und 15:00-17:00 Uhr – Tel.: +49 (0)40 / 551 35 86 oder 695 14 41<br>
</p>
<p>
    Bitte hinterlassen Sie gegebenenfalls eine Nachricht auf dem Anrufbeantworter.<br>
</p>
</div>
{{template "footer"}}
