{{template "header" .}}
<div class="container py-4">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <h1 class="mb-4 d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-mailbox me-3" viewBox="0 0 16 16">
          <path d="M4 4a3 3 0 0 0-3 3v6h6V7a3 3 0 0 0-3-3m0-1h8a4 4 0 0 1 4 4v6a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V7a4 4 0 0 1 4-4m2.646 1A4 4 0 0 1 8 7v6h7V7a3 3 0 0 0-3-3z"/>
          <path d="M11.793 8.5H9v-1h5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.354-.146zM5 7c0 .552-.448 0-1 0s-1 .552-1 0a1 1 0 0 1 2 0"/>
        </svg>
        Kontakt
      </h1>
      <div class="card shadow-sm mb-4">
        <div class="card-body">
          <address>
            <strong>Yang Tai Chi Schule Hamburg</strong><br>
            Stephan Hagen<br>
            Von-Essen-Straße 56<br>
            D-22081 Hamburg<br>
            <abbr title="Telefon">Tel.:</abbr> <a href="tel:+49405513586">+49 (0)40 / 551 35 86</a> oder <a href="tel:+49406951441">+49 (0)40 / 695 14 41</a><br>
            <abbr title="E-Mail">E-Mail:</abbr> <a href="mailto:info@yang-taichi.com">info@yang-taichi.com</a><br>
            <abbr title="Whatsapp">Whatsapp:</abbr> <a href="https://wa.me/49406951441">49406951441</a>
          </address>
        </div>
      </div>
      <div class="alert alert-info mb-3">
        <strong>Telefonische Sprechzeiten:</strong><br>
        Montag bis Donnerstag von 10:00-12:00 Uhr und 15:00-17:00 Uhr<br>
        Tel.: <a href="tel:+49405513586">+49 (0)40 / 551 35 86</a> oder <a href="tel:+49406951441">695 14 41</a>
      </div>
      <div class="alert alert-secondary">
        Bitte hinterlassen Sie gegebenenfalls eine Nachricht auf dem Anrufbeantworter.
      </div>
    </div>
  </div>
</div>
{{template "footer"}}
