{{template "header" .}}
<div class="container py-4">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <h1 class="mb-4 d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-newspaper me-3" viewBox="0 0 16 16">
          <path d="M0 2.5A1.5 1.5 0 0 1 1.5 1h11A1.5 1.5 0 0 1 14 2.5v10.528c0 .3-.05.654-.238.972h.738a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 1 1 0v9a1.5 1.5 0 0 1-1.5 1.5H1.497A1.497 1.497 0 0 1 0 13.5zM12 14c.37 0 .654-.211.853-.441.092-.106.147-.279.147-.531V2.5a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0-.5.5v11c0 .278.223.5.497.5z"/>
          <path d="M2 3h10v2H2zm0 3h4v3H2zm0 4h4v1H2zm0 2h4v1H2zm5-6h2v1H7zm3 0h2v1h-2zM7 8h2v1H7zm3 0h2v1h-2zm-3 2h2v1H7zm3 0h2v1h-2zm-3 2h2v1H7zm3 0h2v1h-2z"/>
        </svg>
        News
      </h1>
      <div class="alert alert-info" role="alert">
        Hier finden Sie die neuesten Informationen und Updates zur Yang Tai Chi Schule Hamburg.
      </div>
      <div class="list-group mb-4">
        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Juni 2024</h5>
            <small class="text-primary">Aktuell</small>
          </div>
          <p class="mb-1">Die Sommerkurse sind zur Anmeldung geöffnet!</p>
        </div>
        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Mai 2024</h5>
          </div>
          <p class="mb-1">Neue Anfängerkurse starten bald. Details im Kalender.</p>
        </div>
        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">April 2024</h5>
          </div>
          <p class="mb-1">Danke für die Teilnahme am Frühlings-Workshop!</p>
        </div>
      </div>
    </div>
  </div>
</div>
{{template "footer"}}
