{{define "navbar"}}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffc107;">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="/home?lang={{.Lang}}" style="background-color: #dc3545; border-radius: 0.25rem; padding-right: 0.75rem;">
      <img src="/images/bg-taichichuan.png" alt="Tai Chi Symbol" width="32" height="32" class="me-2" style="object-fit:contain;">
      Yang Tai Chi Hamburg
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Navigation umschalten">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-lg-center">

        <li class="nav-item mb-2 mb-lg-0 my-lg-0 mx-lg-2">
          <a class='btn {{if eq .Page "news"}}btn-secondary{{else}}btn-outline-secondary{{end}} w-100 w-lg-auto d-flex align-items-center justify-content-center gap-2'
             href="/news?lang={{.Lang}}" role="button">
            <span class="d-flex align-items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-newspaper me-2" viewBox="0 0 16 16" style="vertical-align:middle;">
                <path d="M0 2.5A1.5 1.5 0 0 1 1.5 1h11A1.5 1.5 0 0 1 14 2.5v10.528c0 .3-.05.654-.238.972h.738a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 1 1 0v9a1.5 1.5 0 0 1-1.5 1.5H1.497A1.497 1.497 0 0 1 0 13.5zM12 14c.37 0 .654-.211.853-.441.092-.106.147-.279.147-.531V2.5a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0-.5.5v11c0 .278.223.5.497.5z"/>
                <path d="M2 3h10v2H2zm0 3h4v3H2zm0 4h4v1H2zm0 2h4v1H2zm5-6h2v1H7zm3 0h2v1h-2zM7 8h2v1H7zm3 0h2v1h-2zm-3 2h2v1H7zm3 0h2v1h-2zm-3 2h2v1H7zm3 0h2v1h-2z"/>
              </svg>
              <span>News</span>
            </span>
          </a>
        </li>

        <li class="nav-item mb-2 mb-lg-0 my-lg-0 mx-lg-2">
          <a class='btn {{if eq .Page "about"}}btn-secondary{{else}}btn-outline-secondary{{end}} w-100 w-lg-auto d-flex align-items-center justify-content-center gap-2'
             href="/about?lang={{.Lang}}" role="button">
            <span class="d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-universal-access me-2" viewBox="0 0 16 16" style="vertical-align:middle;">
              <path d="M9.5 1.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0M6 5.5l-4.535-.442A.531.531 0 0 1 1.531 4H14.47a.531.531 0 0 1 .066 1.058L10 5.5V9l.452 6.42a.535.535 0 0 1-1.053.174L8.243 9.97c-.064-.252-.422-.252-.486 0l-1.156 5.624a.535.535 0 0 1-1.053-.174L6 9z"/>
            </svg>
              <span>Über uns</span>
            </span>
          </a>
        </li>

        <li class="nav-item mb-2 mb-lg-0 my-lg-0 mx-lg-2">
          <a class='btn {{if eq .Page "calendar"}}btn-secondary{{else}}btn-outline-secondary{{end}} w-100 w-lg-auto d-flex align-items-center justify-content-center gap-2'
             href="/calendar?lang={{.Lang}}" role="button">
            <span class="d-flex align-items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-calendar me-2" viewBox="0 0 16 16" style="vertical-align:middle;">
                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
              </svg>
              <span>Kalender</span>
            </span>
          </a>
        </li>

        <li class="nav-item mb-2 mb-lg-0 my-lg-0 mx-lg-2">
          <a class='btn {{if eq .Page "taichi"}}btn-secondary{{else}}btn-outline-secondary{{end}} w-100 w-lg-auto d-flex align-items-center justify-content-center gap-2'
             href="/taichi?lang={{.Lang}}" role="button">
            <span class="d-flex align-items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-yin-yang me-2" viewBox="0 0 16 16" style="vertical-align:middle;">
                <path d="M9.167 4.5a1.167 1.167 0 1 1-2.334 0 1.167 1.167 0 0 1 2.334 0"/>
                <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0M1 8a7 7 0 0 1 7-7 3.5 3.5 0 1 1 0 7 3.5 3.5 0 1 0 0 7 7 7 0 0 1-7-7m7 4.667a1.167 1.167 0 1 1 0-2.334 1.167 1.167 0 0 1 0 2.334"/>
              </svg>
              <span>Tai Chi</span>
            </span>
          </a>
        </li>

        <li class="nav-item mb-2 mb-lg-0 my-lg-0 mx-lg-2">
          <a class='btn {{if eq .Page "download"}}btn-secondary{{else}}btn-outline-secondary{{end}} w-100 w-lg-auto d-flex align-items-center justify-content-center gap-2'
             href="/download?lang={{.Lang}}" role="button">
            <span class="d-flex align-items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-yin-yang me-2" viewBox="0 0 16 16" style="vertical-align:middle;">
                  <path d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383"/>
                  <path d="M7.646 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V5.5a.5.5 0 0 0-1 0v8.793l-2.146-2.147a.5.5 0 0 0-.708.708z"/>
              </svg>
              <span>Downloads</span>
            </span>
          </a>
        </li>

        <li class="nav-item ms-lg-2 my-1 my-lg-0">
          <div class="dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="Dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{if eq .Lang "de"}}<span class="fi fi-de me-2"></span>{{else if eq .Lang "en"}}<span class="fi fi-gb me-2"></span>{{else}}🌐{{end}}
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="Dropdown" style="min-width: 180px;">
              <li>
                <a class="dropdown-item{{if eq .Lang "en"}} active{{end}}" href="?lang=en">
                  <span class="fi fi-gb me-2"></span> English{{if eq .Lang "en"}} <i class="fa fa-check text-success ms-2"></i>{{end}}
                </a>
              </li>
              <li>
                <a class="dropdown-item{{if eq .Lang "de"}} active{{end}}" href="?lang=de">
                  <span class="fi fi-de me-2"></span> Deutsch{{if eq .Lang "de"}} <i class="fa fa-check text-success ms-2"></i>{{end}}
                </a>
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item disabled" href="#"><span class="fi fi-pl me-2"></span> Polski</a>
              </li>
              <li>
                <a class="dropdown-item disabled" href="#"><span class="fi fi-cn me-2"></span> 中文</a>
              </li>
              <li>
                <a class="dropdown-item disabled" href="#"><span class="fi fi-jp me-2"></span> 日本語</a>
              </li>
              <li>
                <a class="dropdown-item disabled" href="#"><span class="fi fi-fr me-2"></span> Français</a>
              </li>
              <li>
                <a class="dropdown-item disabled" href="#"><span class="fi fi-es me-2"></span> Español</a>
              </li>
              <li>
                <a class="dropdown-item disabled" href="#"><span class="fi fi-ru me-2"></span> Русский</a>
              </li>
              <li>
                <a class="dropdown-item disabled" href="#"><span class="fi fi-pt me-2"></span> Português</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br/>
<style>
  @media (max-width: 991.98px) {
    #navbarNav.show .dropdown {
      margin-top: 1rem !important;
    }
  }
</style>
{{end}}
