{{template "header" .}}
<h1>Contact</h1>
<p>
    Yang Tai Chi School Hamburg<br>
    Stephan Hagen<br>
    Von-Essen-Strasse 56<br>
    D-22081 Hamburg<br>
    Tel.: +49 (0)40 / 551 35 86 or +49 (0)40 / 695 14 41<br>
    Email: info[at]yang-taichi.com<br>
    Whatsapp: 49406951441<br>
</p>
<p>
    Telephone consultation hours:<br>
    Monday to Thursday from 10:00-12:00 and 15:00-17:00 – Tel.: +49 (0)40 / 551 35 86 or 695 14 41<br>
</p>
<p>
    Please leave a message on the answering machine if necessary.<br>
</p>
</div>
{{template "footer"}}
